<form name="form1" action="/controllerUpdate" method="POST">
    <h2 class="titulos">Atualize os Dados Cadastrais do seu PET</h2>
   
    <input type="hidden" name="id" id="id" placeholder="ID: " value="{{id}}"><br>
    Nome do PET: <input type="text" name="name" id="name" placeholder="Digite o nome do PET " value="{{name}}"><br>
    Proprietario: <input type="text" name="proprietario" id="proprietario" placeholder="Digite o proprietario "value="{{proprietario}}"><br>
    Especie: <input type="text" name="especie" id="especie" placeholder="Cavalo, cachorro.. "value="{{especie}}"><br>
    Raça: <input type="text" name="raca" id="raca" placeholder="Pinch, Puddle... "value="{{raca}}"><br>
    Pelagem: <input type="text" name="pelagem" id="pelagem" placeholder="preto, cinza "value="{{pelagem}}"><br>
    Sexo: <input type="text" name="sexo" id="sexo" placeholder="Sexo: F ou M "value="{{sexo}}"><br>
    Peso: <input type="text" name="peso" id="peso" placeholder="Digite o peso: "value="{{peso}}"><br>
    Idade: <input type="text" name="idade" id="idade" placeholder="Digite a idade: "value="{{idade}}"><br>
    Nascimento: <input type="date" name="nascimento" id="nascimento" placeholder="Nascimento: "value="{{nascimento}}"><br>
    <input type="submit" name="btnSubmit" id="btnSubmit" value="Update"></br>

</form>